@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-2 px-6 rounded-sm;
  }
  .btn-block {
    @apply w-full;
  }
  .btn-primary {
    @apply bg-yellow;
  }
  .btn-default {
    @apply bg-purple-800 text-white;
  }
  .form-input {
    @apply border border-gray-200 font-normal outline-none rounded-sm px-4 py-1 mb-3;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
